.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
}

.button {
    height: 40px;
    font-size: 1.5rem;
    background-color: bisque;
    color: black;
}